# Ignore env
env/

# Ignore database
db.sqlite3/

# Ignore static files
static

# Ignore sorl
sorl-6.6.6/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

push_changes.sh