{% load category_tags %}
<aside class="sidebar shop-sidebar sticky-sidebar-wrapper sidebar-fixed">
    <!-- Start of Sidebar Overlay -->
    <div class="sidebar-overlay"></div>
    <a class="sidebar-close" href="#"><i class="close-icon"></i></a>


    <!-- Start of Sidebar Content -->
    <div class="sidebar-content scrollable">
        <!-- Start of Sticky Sidebar -->
        <div class="sticky-sidebar">
            <div class="filter-actions">
                <label>Filter :</label>
            </div>
            <!-- Start of Collapsible widget -->
            <div class="widget widget-collapsible">
                <h3 class="widget-title"><span>All Categories</span></h3>
                <ul class="widget-body filter-items search-ul">
                    {% category_tree depth=2 as tree_categories %}
                    {% for tree_category in tree_categories %}
                    
                    <li><a href="{{ tree_category.url }}">{{ tree_category.name }}</a></li>
                    
                    {% endfor %}
                </ul>
            </div>
            



            
        </div>
        <!-- End of Sidebar Content -->
    </div>
    <!-- End of Sidebar Content -->
</aside>